[project]
	description = A docker (https://www.docker.com/) image build for the APM solution of Computer Asscociates (CA APM). 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stefan Siegl (stefansiegl)
[access "refs/for/refs/*"]
	read = group user/Stefan Siegl (stefansiegl)
	push = group user/Stefan Siegl (stefansiegl)
	label-Code-Review = -2..+2 group user/Stefan Siegl (stefansiegl)
	label-Verified = -1..+1 group user/Stefan Siegl (stefansiegl)
	rebase = group user/Stefan Siegl (stefansiegl)
	removeReviewer = group user/Stefan Siegl (stefansiegl)
	submit = group user/Stefan Siegl (stefansiegl)
[access "refs/heads/*"]
	read = group user/Stefan Siegl (stefansiegl)
	create = group user/Stefan Siegl (stefansiegl)
	push = +force group user/Stefan Siegl (stefansiegl)
	pushMerge = group user/Stefan Siegl (stefansiegl)
[access "refs/tags/*"]
	push = +force group user/Stefan Siegl (stefansiegl)
	pushTag = group user/Stefan Siegl (stefansiegl)
	pushSignedTag = group user/Stefan Siegl (stefansiegl)
